* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: sans-serif;
  background-color: rgb(120, 134, 154);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.title {
  color: rgb(42, 114, 42);
  text-align: center;
  margin: 30px;
  font-size: 50px;
}
.container {
  width: 55rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: small;
}
.header {
  display: flex;
  align-items: center;
  background-color: rgb(104, 140, 104);
  color: white;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  border-radius: 6px;
}
.product {
  margin: 0 14.2rem;
}
.qty {
  margin: 0 65px;
}
.items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 5px;
  background-color: rgb(215, 209, 209);
  padding: 10px 20px;
  border-radius: 5px;
}
.total {
  width: 150px;
  height: 50px;
  padding: 10px;
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.like {
  width: 40px;
  height: 40px;
  padding: 5px;
  cursor: pointer;
}

.red {
  color: red;
}
.like {
  color: white;
}
.delete {
  width: 30px;
  height: 30px;
  padding: 5px;
  cursor: pointer;
}

.img-container {
  width: 100px;
  height: 100%;
}
.img-container img {
  width: 100%;
  height: 100%;
}

.quantity {
  display: flex;
  width: 90px;
  height: 30px;
  border-radius: 6px;
}
.quantity div {
  background-color: rgb(195, 205, 195);
  border-radius: 4px;
}
.quantity div:active {
  background-color: rgb(104, 140, 104);
}
.add-button {
  width: 30px;
  height: 30px;
  padding: 5px;
  font-size: large;
  text-align: center;
  cursor: pointer;
}
.sub-button {
  width: 30px;
  height: 30px;
  padding: 5px;
  font-size: large;
  text-align: center;
  cursor: pointer;
}
.label {
  width: 30px;
  height: 30px;
  padding: 5px;
  font-size: large;
  text-align: center;
  cursor: pointer;
}
